:root {
    --my_bg_nav_sub: #2c3e50;
    --my_bg_foot: #3a546d;
    --my_bg_container: #1abc9c;
    --my_bg_container_hov: #0b5143;
}
body {
    font-family: 'Helvetica nue', Helvetica, sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
::placeholder {
    color: #000;
    font-weight: bold;
}
/* Colori */
.my_bg_nav_sub {
    background-color: var(--my_bg_nav_sub);
}
.my_bg_foot {
    background-color: var(--my_bg_foot);
}
.my_bg_container {
    background-color: var(--my_bg_container)
}
.my_c_container {
    color: var(--my_bg_nav_sub);
}
.w-100 {
    width: 100%;
}
#send {
    color: #fff;
    background-color: var(--my_bg_container);
}
#send:hover, #send:active {
    border-color: #000 ;
    background-color: var(--my_bg_container_hov);
}
/* Effetti Hover */
.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
    color: var(--my_bg_container)!important;
}
#portfolio .img-fluid:hover,
#portfolio .img-fluid:active {
    transition: all 0.1s ease-in-out 0.1s;
    filter: brightness(50%);
}